*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
} 

/* header section start↓↓↓*/
header {
    background-color: rgb(0,0,0)
  }
  header a{
    color: #fff;
  }
  header img{
      width: 3rem;
      text-align: center;
  }
  header nav{
    height: auto;
    padding: 1em;
    margin-left: 1.5em;
  }

  .header a:hover {
    color: white;
    background-color:#950101;
  }

  .nav_menu {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav_item {
    flex: 1;
    text-align: center;
  }
  
  .nav_link {
    display: block;
    text-decoration: none;
    color: #950101;
    text-align: center;
    padding: .5vw;
    margin: 0 1em;
  }
  
  .nav_link:hover {
    text-decoration: none;
  }
  /* header section end ↑↑↑*/

body {
    /* background-color: black; */
    background-color: #3D0000;
}


.head_img {
    background-image: url("images/contact_head.jpeg");
    background-size: cover;
    height: 25vw; 
    background-position: 3% 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left; 
}

.title {
    width: 30vw;
    padding: .7em 6em;
}

.title h1 {
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px rgb(227, 227, 227);
    z-index: 2;
}

#contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding:4vw 4vw;
    color: #fff;
}
.grid-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3em;
    align-items: center;
    justify-items: center;
    width:40vw;
}

.img-box {
    position: relative;
    overflow: hidden;
}
  
.img-box img {
    width: 100%;
    height: auto;
    transition: filter 0.5s;
}

.img-box .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.img-box:hover img {
    filter: brightness(60%);
}

.img-box:hover .overlay {
    opacity: 1;
}


.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3vw auto;
    background-color: rgba(0,0,0,0.2);
    width:37vw;
    padding: 2vw;
    border-radius: .3em;
}

.contact h2 {
    padding: 1em;
}
.form-title {
    display: flex;
    align-items: center;
}
.logo {
    width:10vw;
    display: inline-block;
    margin-left: 2vw;
}

.row {
    padding:.5em 1em;
}

input[type="text"], input[type="email"],input[type="tel"],textarea, select {
    background-color: #2602026d;
    color: white;
    border: 1px solid #ccc;
    padding: 1em;
    margin: .3em 0;
    transition: background-color 0.3s ease;
    width:30vw;
    border-radius: .2em;
}

input::placeholder, textarea::placeholder, select::placeholder {
    color: #ccc; 
}

input:focus, textarea:focus, select:focus {
    background-color: #AC3841;
    color: white;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
}

.row:last-child {
    text-align: center;
}

button {
    background-color: #AC3841;
    color: white;
    transition: background-color 0.2s ease;
    padding: 1em;
    width:8vw;
    border: none;
    cursor: pointer;
    border-radius: .2em;
}

button:hover {
    background-color: white;
    color: black;
}

/* footter section start↓↓↓ */
footer{
    background-color: black;
    padding: 2em 0;
    background-image: url(images/footer_bg_1.png);
    background-size:20vw;
    background-position: left center;
    background-repeat:no-repeat;
    color: #fff;
  }
  .footer-container {
    display: flex;
    margin: 0 10vw;;
    align-items: center;
  }
  .logo_area {
    margin: 0 3vw;
  }
  .footer-logo{
    width: 10vw;
    display: block;
  }
  .company-info{
    line-height: 2;
    margin-left: 1vw;
    font-size: 1vw;
  }
  .copyright {
    font-size: small;
    text-align: right;
    margin-right: 2em;
}


/* style mobile device */
@media only screen and (max-width: 600px) {
    .title {
        width:auto;
        padding: 1em 3em
    }
    .title p {
        display: none;
    }
    #contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* picture area */
    .grid-left {
        order: 2;
        width:90%;
        margin: 0 5em;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }
    .img-box .overlay {
        font-size: 1rem;
    }

    /* form styling */
    .grid-right {
        order: 1;
        width:80%;
        margin: 0 5em 1em 5em;
    }

    .contact {
        width:auto;
        font-size: smaller;
    }
    .contact h2 {
        padding:.5em;
    }

    .row {
        padding:.2em 1em;
    }

    input[type="text"], input[type="email"],input[type="tel"],textarea, select {
        padding:.5em;
        width:90%;
    }
    button {
        width:auto;
        padding:.5em;
    }



}




