* {
  margin:0;
  padding:0;
}
html {
    height: 100%;
    overflow: hidden;
}
 p {
  font-family: 'Cormorant Garamond', serif;
 }
  body {
    background-color: black;
    color: #fff;
    margin:0;
    padding:0;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* header section start↓↓↓*/
  header {
    background-color: black;
    position: relative;
    z-index: 1;
  }
  header a{
    color: #fff;
  }
  header img{
      width: 3rem;
      text-align: center;
  }
  header nav{
    height: auto;
    padding: 1em;
    margin-left: 1.5em;
  }

  .header a:hover {
    color: white;
    background-color:#950101;
  }
  
  .header-right {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .nav_menu {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav_item {
    flex: 1;
    text-align: center;
  }
  
  .nav_link {
    display: block;
    text-decoration: none;
    color: #950101;
    text-align: center;
    padding: 8px;
  }
  
  .nav_link:hover {
    text-decoration: none;
  }


  /* header section end ↑↑↑*/
  .home h1{
    opacity: 0.2; 
    background-color:#950101;
  }
  .home {
    font-size: 20px;
    box-sizing: border-box;
    min-height: 40vw;
    padding: 13vw 0 4vw;
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;
  }
  .home, .home:before {
    background: 50% 50% / cover;
  }
  .home::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(images/hibiki_japan_2.png);
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
  .home * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }
  .home p {
    background-color: hsla(0, 0%, 100%,0.1);
  }

  main {
    background-image: url(images/hibiki_grass.png);
    background-size: cover;
    line-height: 1.7;
    padding: 5% calc(50% - 20em) 35%;
    position: relative;
    z-index: 2;
  }
  main p, main h2{
    color: rgb(48, 48, 48);
  }
  main h2 {
    text-shadow: 1px 1px 2px #fff;
  }

  .catch_copy span {
    transition: 1s;
    opacity: 0;
    transform: translateY(20px);
    display: block;
  }
  .catch_copy span:first-child {
    animation: catch_anime 1.4s forwards 1s;
  }
  .catch_copy span:nth-child(2) {
    animation: catch_anime 1.4s forwards 2s;
  }
  .catch_copy span:nth-child(3) {
    animation: catch_anime 1.4s forwards 3s;
  }
  
  @keyframes catch_anime {
    0% {
      transform: translateY(20px);
    }
     100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section_2 {
    background: rgb(61,0,0);
    background: linear-gradient(135deg, rgba(61,0,0,1) 18%, rgba(246,205,205,1) 52%, rgba(61,0,0,1) 87%);
    padding: 1em 0;
    position: relative;
    z-index: 3;
  }
  .Cocktail{
    padding: 3rem 0;
    text-align: center;
  }
  .Cocktail h2 {
    letter-spacing: 0.2em;
    margin-bottom: .5em;
  }

  /* Slideshow container */
.slideshow-container {
  max-width: 50rem;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.7s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Call to action */
.sign-up-container {
  background-color: #3d000070;
  padding: 3vw 18vw;
  background-position: left;
}
.sign-up {
  text-align: center;
  width:50vw;
  margin: 0 auto;
  background-image: url(images/blend_foot.jpeg);
  background-position: right;
}

.sign-up h2, .sign-up p {
  color:white;
  padding: 1em;
}


.sign-up button {
  margin:1.5em;
  padding:1em;
  background-color: #AC3841;
  color: white;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
  border-radius: .2em;
}
button:hover {
  background-color: white;
  color: black;
}

/* footter section start↓↓↓ */
footer{
  padding: 2em 0;
  background-image: url(images/footer_bg_1.png);
  background-size:20vw;
  background-position: left center;
  background-repeat:no-repeat;
}
.footer-container {
  display: flex;
  margin: 0 10vw;;
  align-items: center;
}
.logo_area {
  margin: 0 3vw;
}
.footer-logo{
  width: 10vw;
  display: block;
}
.company-info{
  line-height: 2;
  margin-left: 1vw;
  font-size: 1vw;
}
.copyright {
  font-size: small;
  text-align: right;
  margin-right: 2em;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .text {font-size: 11px}
  main {
    padding: 5% 10% 35%;
  }
  .main-text {
    padding:.5em;
    background-color: rgba(255,255,255,0.8);
  }
  .sign-up-container {
    padding: 0 auto;
  }
  .sign-up {
    width: 100%;
  }
}